* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: url(../img/background_pshenitsa.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 130px 0 auto;
}

.logo {
    font: 400 46px/46px 'Lora', sans-serif;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.logo_size_small {
    font: 25px/31px 'Oxygen', sans-serif;
    color: #FFFFFF;
}

.logo-text {
    font: 17px/25px 'Oxygen', sans-serif;
    color: #FFFFFF;

}

.form {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 56px 40px 155px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.form_title {
    font: 400 34px/40px 'Lora', sans-serif;
    color: #000000;
    margin-bottom: 59px;

}

.form-block {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-block_label {
    font: 12px/16px 'Oxygen', sans-serif;
    color: #7A7A7A;
    margin-bottom: 5px;
}

.form_input {
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 40px;
    padding: 8px 4px;
    outline: none;
}

.form_input:focus
 {
    background-color: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
}

.icon {
    content: '';
    background: url(../img/eye.svg) no-repeat center;
    position: absolute;
    right: 4px;
    width: 24px;
    height: 24px;
    top: calc(57% - 24px/2);
    cursor: pointer;
}

.view {
    background: url(../img/eye-off.svg) no-repeat center;
}


.form_button {
    font: 16px/24px 'Oxygen', sans-serif;
    width: 93px;
    height: 48px;
    background: #DD783F;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.form_button:focus
 {
    outline: 2px solid rgba(221, 120, 63, 0.4);
}