* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background: url(../img/background_pshenitsa.png) no-repeat center center fixed;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
}

.main-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1080px;
    margin: 0 130px 0 auto;
}

.logo {
    font: 400 46px/46px 'Lora', sans-serif;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.logo_size_small {
    font: 25px/31px 'Oxygen', sans-serif;
    color: #FFFFFF;
}

.logo-text {
    font: 17px/25px 'Oxygen', sans-serif;
    color: #FFFFFF;

}

.form {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 56px 40px 155px;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
    max-width: 480px;
}

.form__title {
    font: 400 34px/40px 'Lora', sans-serif;
    color: #000000;
    margin-bottom: 59px;
}

.form-block {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-block__label {
    font: 12px/16px 'Oxygen', sans-serif;
    color: #7A7A7A;
    margin-bottom: 5px;
}

.form__input {
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: none;
    border-bottom: 1px solid #EAEAEA;
    margin-bottom: 40px;
    padding: 8px 4px;
    outline: none;
}

.form__input:focus {
    background-color: #F7F7F7;
    border-bottom: 1px solid #2E2E2E;
}

.icon {
    content: '';
    background: url(../img/eye.svg) no-repeat center;
    position: absolute;
    right: 4px;
    width: 24px;
    height: 24px;
    top: calc(57% - 24px/2);
    cursor: pointer;
}

.view {
    background: url(../img/eye-off.svg) no-repeat center;
}


.form__button {
    font: 16px/24px 'Oxygen', sans-serif;
    width: 93px;
    height: 48px;
    background: #DD783F;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
}

.form__button:focus {
    outline: 2px solid rgba(221, 120, 63, 0.4);
}

.error {
    display: none;
}

.error-empty {
    display: inline-block;
    color: #E86961;
    margin-bottom: 40px;
}

.incorrect {
    display: inline-block;
    font: 14px/20px 'Oxygen', sans-serif;
    color: #2E2E2E;
    padding: 10px 12px 10px 36px;
    background: #FFEBEA;
    border-left: 2px solid #E86961;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    animation: heigth ease 0.3s;
}


.form-block__error {
    display: none;
    animation: heigth-out ease 0.3s;
}

@keyframes heigth-out {

    100% {
        opacity: 0;
        height: 0px;
    }

    0% {
        height: 40px;
        opacity: 1;
    }
}

.incorrect::before {
    content: '';
    background: url(../img/alert-circle.svg) no-repeat center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 6px;
}

.correct {
    display: inline-block;
    font: 14px/20px 'Oxygen', sans-serif;
    color: #2E2E2E;
    padding: 10px 12px 10px 36px;
    background: #E6FCEF;
    border-left: 2px solid #67C48C;
    border-radius: 5px;
    margin-bottom: 40px;
    position: relative;
    animation: heigth ease 1s;
}

.correct::before {
    content: '';
    background: url(../img/alert-circle-green.svg) no-repeat center;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 8px;
    left: 6px;
}

@keyframes heigth {

    0% {
        opacity: 0;
        height: 0px;
        padding: 0 12px 0 36px;
    }

    100% {
        height: 40px;
        opacity: 1;
        padding: 10px 12px 10px 36px;
    }
}