<!DOCTYPE html>
<html>

<head>
    <meta charset=”utf-8” />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Escape</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen&display=swap" rel="stylesheet">
    <link href='/static/css/style.css' rel="stylesheet">
</head>

<body>

    <header class="header">
        <div class="header__top menu-block">
            <p class="menu-block__logo">Escape.</p>
            <nav class="menu-block__menu menu">
                <a href="#" class="menu__link">Home</a>
                <a href="#" class="menu__link">Categories</a>
                <a href="#" class="menu__link">About</a>
                <a href="#" class="menu__link">Contact</a>
            </nav>
            <div class="menu-block__burger burger">
                <div class="burger__block" id="burger">
                    <p class="burger__stripe"></p>
                    <p class="burger__stripe"></p>
                    <p class="burger__stripe"></p>
                </div>
                <nav class="burger__menu" id="burgerMenu">
                    <a href="#" class="burger-menu__link">Home</a>
                    <a href="#" class="burger-menu__link">Categories</a>
                    <a href="#" class="burger-menu__link">About</a>
                    <a href="#" class="burger-menu__link">Contact</a>
                </nav>
            </div>
        </div>
        <div class="header__title-block">
            <h1 class="header__title">{{ .Title }}</h1>
            <p class="header__text">{{ .Subtitle }}</p>
            <a href="#" class="header__button">View Latest Posts</a>
        </div>
    </header>
    <nav class="navigation">
        <a href="#" class="navigation__link">Nature</a>
        <a href="#" class="navigation__link">Photography</a>
        <a href="#" class="navigation__link">Relaxation</a>
        <a href="#" class="navigation__link">Vacation</a>
        <a href="#" class="navigation__link">Travel</a>
        <a href="#" class="navigation__link">Adventure</a>
    </nav>
    <section class="container">
        <div class="container__top-block top-block ">
            <p class="top-block__title title">Featured Posts</p>
            <div class="top-block__block">
                {{ range .Featured }}
                <a href="{{ .PostURL }}" class="link_underline">
                    <div class="block {{ .BlockDirection }}">
                        <p class="{{ .Emblema }}">{{ .EmblemaTitle }}</p>
                        <div class="block__text-block {{ .Outt }}">
                            <p class="block__title">{{ .Title }}</p>
                            <p class="block__text block__text_out">{{ .Subtitle }}</p>
                            <div class="block__autor">
                                <div class="autor">
                                    <img src="{{.AuthorImg}}" class="autor__photo">
                                    <span class="autor__text">{{ .Author }}</span>
                                </div>
                                <span class="autor__text date">{{ .PublishDate }}</span>
                            </div>
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </div>
        <div class="container__main main ">
            <p class="main__title title">Most Recent</p>
            <div class="main__block">
                {{ range .Posts }}
                <a href="{{ .PostURL }}" class="link_underline">
                    <div class="main__item card">
                        <img class="card__img" src="{{ .Background }}">
                        <div class="card__text-block">
                            <p class="card__title">{{ .Title }}</p>
                            <p class="card__text {{ .SizeSmall }}">{{ .Subtitle }}
                            </p>
                        </div>
                        <div class="card__autor-block autor-block">
                            <div class="autor-block__block">
                                <img src="{{ .AuthorImg }}" class="autor-block__photo">
                                <span class="autor-block__name">{{ .Author }}</span>
                            </div>
                            <span class="autor-block__date">{{ .PublishDate }}</span>
                        </div>
                    </div>
                </a>
                {{end}}
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="footer__block">
            <p class="footer__title">Stay in Touch</p>
            <form class="footer__form form">
                <input type="email" class="form__text" placeholder="Enter your email address">
                <button class="form__button">Submit</button>
            </form>
        </div>
        <div class="footer__menu">
            <div class="footer__menu-block menu-footer">
                <p class="menu-footer__logo">Escape.</p>
                <nav class="menu-footer__menu">
                    <a href="#" class="menu-footer__link">Home</a>
                    <a href="#" class="menu-footer__link">Categories</a>
                    <a href="#" class="menu-footer__link">About</a>
                    <a href="#" class="menu-footer__link">Contact</a>
                </nav>
            </div>
        </div>
    </footer>
    <script src="/static/js/adaptive.js"></script>
</body>
</html>